@use '~@angular/material' as mat;
@import "~@angular/material/theming";

@mixin app-entities-changer-component-theme($theme) {
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);

    .app-entities-changer {
        &__item.selected {
            background-color: mat.get-color-from-palette($accent);
            color: mat.get-color-from-palette($primary, darker-contrast);

            mat-icon {
                color: mat.get-color-from-palette($primary, darker-contrast);
            }
        }

        &__item:hover {
            background-color: mat.get-color-from-palette($accent, default, .8);
            color: mat.get-color-from-palette($primary, darker-contrast);

            mat-icon {
                color: mat.get-color-from-palette($primary, darker-contrast);
            }
        }
    }
}
