<div class="app-image-tile">
    <div class="app-image-tile__menu">
        <app-tile-menu>
            <button mat-menu-item (click)="openEditTileFormWindow(tile)">
                <mat-icon color="accent">edit</mat-icon>
                <span>Edit</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="removeTile(tile)">
                <mat-icon color="accent">delete</mat-icon>
                <span>Delete</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
                <mat-icon color="accent">add</mat-icon>
                <span>Add Text</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
                <mat-icon color="accent">close</mat-icon>
                <span>Remove Text</span>
            </button>
        </app-tile-menu>
    </div>

    <div class="app-image-tile__image">
        {{ tile.title }}<br>
        {{ tile.img }}
    </div>
</div>
