@import "../../../../styles/mixins.scss";
@import "../../../../styles/smart-grid.scss";

:host {
    margin: 12px 6px 0px;
}

.app-toolbar-button {
    padding: 3px 12px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;

        mat-icon {
            @include mat-icon-size(32px);
            margin-left: -5px;
            margin-right: 3px;
        }
    }

    &__text {
        margin-bottom: -3px;
    }
}
