@use '~@angular/material' as mat;

@mixin app-checkbox-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .app-checkbox {
        &--checked {
            background-color: mat.get-color-from-palette($accent, lighter, .4);
        }

        &__fake-checkbox {
            background-color: mat.get-color-from-palette($primary, default, .5);
        }

        &__checkbox:disabled + &__fake-checkbox {
            mat-icon {
                color: mat.get-color-from-palette($primary);
            }
        }
    }
}
