<div class="app-image-tiles-dashboard">
    <app-toolbar align="right">
        <app-toolbar-button icon="tab" text="Add Image Tile" (click)="openAddTileFormWindow()"></app-toolbar-button>
        <app-toolbar-button icon="save" text="Save" (click)="saveTilesChanges()"></app-toolbar-button>
        <app-toolbar-button icon="block" text="Cancel" (click)="cancelTilesChanges()"></app-toolbar-button>
    </app-toolbar>
    <div class="app-image-tiles-dashboard__tiles">
        <ng-container *ngFor="let imageTileState of imageTileStates">
            <app-image-tile
                *ngIf="!imageTileState.toDelete"
                [imageTile]="imageTileState.tile"
                (remove)="removeTileHandler(imageTileState.tile)"
                (update)="updateTileHandler(imageTileState.tile, $event)"
            ></app-image-tile>
        </ng-container>
    </div>
</div>
