@use '~@angular/material' as mat;
@import "../../../../styles/smart-grid.scss";

@mixin app-expansion-panel-component-theme($theme) {
    $primary: map-get($theme, primary);

    .app-expansion-panel {
        &__header {
            background-color: mat.get-color-from-palette($primary, darker, .8);
            color: mat.get-color-from-palette($primary, darker-contrast);
        }
    }
}
