@use '~@angular/material' as mat;

@import "styles/mat-custom/_mat-custom.scss";
@import "styles/font-faces.scss";
@import "styles/reset.scss";

@import "app/user-management/user-management.theme.scss";
@import "app/dashboards/dashboards.theme.scss";
@import "app/shared/shared.theme.scss";
@import "app/core/core.theme.scss";

@include mat.core();

body {
    font-family: 'Source Sans Pro';
}

$primary-palette: mat.define-palette(mat.$grey-palette);
$accent-palette: mat.define-palette($mat-green-custom);
$warn-palette: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme($primary-palette, $accent-palette, $warn-palette);

@include mat.all-component-themes($custom-theme);

@include app-core-module-theme($custom-theme);
@include app-shared-module-theme($custom-theme);
@include app-user-management-module-theme($custom-theme);
@include app-dashboards-module-theme($custom-theme);

@include app-mat-custom($custom-theme);
