@import "../../../../styles/mixins.scss";

.app-dashboards-body {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &__tiles {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.7em 0;
    }
}
